<div class="row">
  <div class="col-xs-12 col-md-6 col col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error != null">
      {{ error }}
    </div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert> -->
    <ng-template appPlaceholder></ng-template>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" ngModel name="email" required email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          ngModel
          required
          minlength="6"
        />
      </div>
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Registrati' }}
        </button>
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Vai alla {{ isLoginMode ? 'registrazione' : 'login' }}
        </button>
      </div>
    </form>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</div>
