<hr />
<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Nome</label>
          <input type="text" id="name" name="name" ngModel #name="ngModel" class="form-control" required />
          <small *ngIf="!name.valid && name.touched">Inserisci un nome</small>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            min="1"
            id="amount"
            name="amount"
            ngModel
            #amount="ngModel"
            class="form-control"
            required
            pattern="^[1-9]+[0-9]*$"
          />
          <small *ngIf="!amount.valid && name.touched">Inserisci un importo</small>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-toolbar">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">
              {{ editMode ? 'Modifica' : 'Aggiungi' }}
            </button>
            <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDeleteItem()">
              Rimuovi
            </button>
            <button class="btn btn-primary" type="button" (click)="onClear()">Pulisci</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
